In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [40]:
df = pd.read_csv("gunshot_data.csv", index_col=0)
df

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...
536,Unknown,Male,5,White,0,0,NaN
537,Unknown,Male,5,Black,0,0,NaN
538,Unknown,Male,5,Hispanic,0,0,NaN
539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
540,Unknown,Male,5,Other,0,0,NaN

In [41]:
data.dtypes

Intent         object
Gender         object
Age            object
Race           object
Deaths          int64
Population      int64
Rate          float64
dtype: object

In [42]:
def clean_int(column):
    column = column.where(column.str.isnumeric(), np.nan)
    column = column.astype(int)
    return column

def clean_float(column):
    column = column.where(column.str.isnumeric(), np.nan)
    column = column.astype(float)
    return column

In [43]:
# df["Age"] = clean_float(df["Age"])

In [44]:
df.dtypes

Intent         object
Gender         object
Age            object
Race           object
Deaths          int64
Population      int64
Rate          float64
dtype: object

In [55]:
query_columns = ["Intent", "Gender", "Age", "Race"]

### Nearly two-thirds of gun deaths are suicides.

In [54]:
all_deaths = df.Deaths.sum()
gun_deaths = df.query("Intent == 'Suicide'").Deaths.sum()
print(f"All deaths: {all_deaths}, gun deaths {gun_deaths}, ratio gun/all is: {gun_deaths/all_deaths}")

All deaths: 537580, gun deaths 168464, ratio gun/all is: 0.3133747535250567

Above is incorrect as dataset is aggravated for the none selected rows. Therefor it is enough to just take those with the specific intent.

In [94]:
all_deaths = df[(df["Intent"] == "None selected") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
suicide_deaths = df[(df["Intent"] == "Suicide") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
print(f"All deaths: {all_deaths}, suicide deaths {suicide_deaths}, ratio is: {round(suicide_deaths/all_deaths, 2)}")

All deaths: 33599, suicide deaths 21058, ratio is: 0.63

### More than 85 percent of suicide victims are male.

In [93]:
suicide_deaths = df[(df["Intent"] == "Suicide") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
male_suicide_deaths = df[(df["Intent"] == "Suicide") & (df["Gender"] == "Male") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
print(f"Suicide deaths: {suicide_deaths}, male suicide deaths {male_suicide_deaths}, ratio is: {round(male_suicide_deaths/suicide_deaths, 2)}")

Suicide deaths: 21058, male suicide deaths 18162, ratio is: 0.86

### Around a third of all gun deaths are homicides.

In [92]:
all_deaths = df[(df["Intent"] == "None selected") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
homicide_deaths = df[(df["Intent"] == "Homicide") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
print(f"All deaths: {all_deaths}, homicide deaths {homicide_deaths}, ratio is: {round(homicide_deaths/all_deaths, 2)}")

All deaths: 33599, homicide deaths 11726, ratio is: 0.35

### Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.

In [91]:
male_15_34_homicide_deaths = df[(df["Intent"] == "Homicide") & (df["Gender"] == "Male") & (df["Age"] == "15 - 34") & (df["Race"] == "None selected")].Deaths.sum()
black_male_15_34_homicide_deaths = df[(df["Intent"] == "Homicide") & (df["Gender"] == "Male") & (df["Age"] == "15 - 34") & (df["Race"] == "Black")].Deaths.sum()
print(f"All male 15-34 homicide deaths: {male_15_34_homicide_deaths}, male 15-34 black homicide deaths {black_male_15_34_homicide_deaths}, ratio is: {round(black_male_15_34_homicide_deaths/male_15_34_homicide_deaths, 2)}")

All male 15-34 homicide deaths: 6520, male 15-34 black homicide deaths 4312, ratio is: 0.66

### Women constitue only 15 percent of the total homicide victims.

In [90]:
homicide_deaths = df[(df["Intent"] == "Homicide") & (df["Gender"] == "None selected") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
female_homicide_deaths = df[(df["Intent"] == "Homicide") & (df["Gender"] == "Female") & (df["Age"] == "None selected") & (df["Race"] == "None selected")].Deaths.sum()
print(f"Suicide deaths: {homicide_deaths}, female homicide deaths {female_homicide_deaths}, ratio is: {round(female_homicide_deaths/homicide_deaths, 2)}")

Suicide deaths: 11726, female homicide deaths 1791, ratio is: 0.15